<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Sismologie</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
    </head>

    <body>
        <h3>404 Page not found</h3>
        <a href="/">Revenir à l'accueil</a>
    </body>
</html>
